<router-outlet></router-outlet>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Etudiants</c-card-header>
      <c-card-body>



        <!--<mat-card>
          <mat-card-header>
              <mat-card-title>Teams</mat-card-title>
              <mat-card-subtitle>All Teams</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
              <div class="example-button-row">
                  <button mat-fab extended color="primary" >
                      <mat-icon>group_add</mat-icon>
                      New team
                  </button>
              </div>
          </mat-card-actions>
      </mat-card>
      <br>
      <br>
      <br>
      -->


          <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
        <section >
          <table mat-table
                 [dataSource]="dataSource" multiTemplateDataRows
                 class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeadersRecord[column]}} </th>

                  <ng-template [ngIf]="column == 'b64ImageSrc'" [ngIfElse]="doelse">
                      <td mat-cell *matCellDef="let element">  <img src="{{element[column]}}">      </td>
                  </ng-template>

                  <ng-template #doelse>
                      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                  </ng-template>

              </ng-container>
              <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                      </button>
                  </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                      <div class="example-element-detail"
                           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                          <div class="example-element-diagram">
                              <div class="example-element-position">  </div>
                              <div class="example-element-symbol"> </div>
                              <div class="example-element-name"> </div>
                              <div class="example-element-weight"> </div>
                          </div>

                          <div class="example-element-description">
                              <div>
                                  <span style="font-size: medium; text-decoration: underline">Date de naissance</span>:
                                  <span style="font-size:medium; font-family: 'Lucida Console'"> {{element.birthday}} </span>
                              </div>

                              <div style="padding-top: 5%">
                              <span style="font-size: medium; text-decoration: underline">Emails</span>:
                              <ng-container *ngFor="let email of element.emails">
                                  <a style="padding-top: 5%; font-family: 'Lucida Console';text-decoration: none">{{email}};</a>
                              </ng-container>
                              </div>

                              <div style="padding-top: 5%">
                                  <span style="font-size: medium; text-decoration: underline">Téléphone</span>:
                                  <ng-container *ngFor="let email of element.tels">
                                      <a style="padding-top: 5%; font-family: 'Lucida Console'; text-decoration: none">{{email}};</a>
                                  </ng-container>
                              </div>

                          </div>
                          <div class="example-element-description"></div>
                          <div class="example-element-description"></div>
                          <div class="example-element-description">
                              <div>&nbsp;</div>
                                  <div class="">
                                      <h1>&nbsp;
                                          <button mat-stroked-button color="warn" routerLink="/dashboard/scolarform" >Voir plus </button>
                                      </h1>
                                  </div>
                          </div>

                      </div>

                  </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; " ></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Aucun résultat pour "{{input.value}}"</td>
              </tr>
          </table>
            <mat-paginator [pageSizeOptions]="[4, 8, 16, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </section>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>