<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Suivi TOEIC</c-card-header>
      <c-card-body>

        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel disabled cTableColor="light">
            <mat-expansion-panel-header>
              <mat-panel-title  class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </mat-panel-title>
              <mat-panel-description>
                Score
              </mat-panel-description>
              <mat-panel-description>
                Date
              </mat-panel-description>
              <mat-panel-description>
                Remarque
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>


          <mat-expansion-panel disabled cTableColor="light">
            <mat-expansion-panel-header>
              <mat-panel-title>
                11808943
              </mat-panel-title>
              <mat-panel-description>
                700
              </mat-panel-description>
              <mat-panel-description>
                06/02/2023
              </mat-panel-description>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<router-outlet></router-outlet>
