<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Etudiants</c-card-header>
      <c-card-body>
      
        <!--<mat-card>
          <mat-card-header>
              <mat-card-title>Teams</mat-card-title>
              <mat-card-subtitle>All Teams</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
              <div class="example-button-row">
                  <button mat-fab extended color="primary" >
                      <mat-icon>group_add</mat-icon>
                      New team
                  </button>
              </div>
          </mat-card-actions>
      </mat-card>
      <br>
      <br>
      <br>
      -->
      
      
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel disabled cTableColor="light">
          <mat-expansion-panel-header>
              <mat-panel-title  class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </mat-panel-title>
              <mat-panel-description>
                  NOM & Prénom
              </mat-panel-description>
              <mat-panel-description>
                  Date de naissance
              </mat-panel-description>
              <mat-panel-description>
                  Numéro étudiant
              </mat-panel-description>
              <mat-panel-description>
                  Adresse mail
              </mat-panel-description>
              <mat-panel-description>
                  Adresse postale
              </mat-panel-description>
              <mat-panel-description>
                  Numéro de téléphone
              </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  <c-avatar
                  size="md"
                  src="{{ users[0].avatar }}"
                  status="{{ users[0].status }}"
                ></c-avatar>
                </mat-panel-title>
                <mat-panel-description>
                    BEN YAALA Siwar
                </mat-panel-description>
                <mat-panel-description>
                    17/05/1999
                </mat-panel-description>
                <mat-panel-description>
                    11808943
                </mat-panel-description>
                <mat-panel-description>
                    siwar.benyaala@edu.univ-paris13.fr<svg cIcon name="cil-plus"></svg>
                </mat-panel-description>
                <mat-panel-description>
                    13 Avenue Du Général De Gaulle 93440 Dugny
                </mat-panel-description>
                <mat-panel-description>
                    06.24.70.72.70<svg cIcon name="cil-plus"></svg>
                </mat-panel-description>
            </mat-expansion-panel-header>

          <section>
              <div class="">
                  <button mat-stroked-button color="primary">
                      Fiche de scolarité
                  </button>
                  <br>
                  <br>

                  
                  <button mat-stroked-button color="warn">
                      Suivi TOEIC
                  </button>
              </div>


          </section>


          </mat-expansion-panel>  
      </mat-accordion>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
