<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="UE">
      <th mat-header-cell *matHeaderCellDef>&nbsp; </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.UE}} </td>
    </ng-container>

    <ng-container matColumnDef="CC">
      <th mat-header-cell *matHeaderCellDef> CC </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.CC}} </td>
    </ng-container>

    <ng-container matColumnDef="TP">
      <th mat-header-cell *matHeaderCellDef> TP </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.TP}} </td>
    </ng-container>

    <ng-container matColumnDef="Partiel1">
      <th mat-header-cell *matHeaderCellDef> Partiel1 </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Partiel1}} </td>
    </ng-container>

    <ng-container matColumnDef="Partiel2">
      <th mat-header-cell *matHeaderCellDef> Partiel2 </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Partiel2}} </td>
    </ng-container>

    <ng-container matColumnDef="Projet">
      <th mat-header-cell *matHeaderCellDef> Projet </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Projet}} </td>
    </ng-container>

    <ng-container matColumnDef="Rapport">
      <th mat-header-cell *matHeaderCellDef> Raport </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Rapport}} </td>
    </ng-container>

    <ng-container matColumnDef="Expose">
      <th mat-header-cell *matHeaderCellDef> Expose </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Expose}} </td>
    </ng-container>

    <ng-container matColumnDef="Stage">
      <th mat-header-cell *matHeaderCellDef> Stage </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Stage}} </td>
    </ng-container>

    <ng-container matColumnDef="Coef">
      <th mat-header-cell *matHeaderCellDef> Coef </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.Coef}} </td>
    </ng-container>

    <ng-container matColumnDef="NoteFinale">
      <th mat-header-cell *matHeaderCellDef> NoteFinale </th>
      <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'highlighted-row': element.isUE }"> {{element.NoteFinale}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
