<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header> <h5> Listes des promotions </h5> </c-card-header>
            <c-card-body>
                <mat-action-list>
                    <button mat-list-item routerLink="/dashboard/student">
                        Promotion 2022-2023
                    </button>
                    <button mat-list-item routerLink="/dashboard/student">
                        Promotion 2021-2022
                    </button>
                    <button mat-list-item routerLink="/dashboard/student">
                        Promotion 2020-2021
                    </button>
                    <button mat-list-item routerLink="/dashboard/student">
                        Promotion 2019-2020
                    </button>
                </mat-action-list>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>