
                        <mat-tab-group animationDuration="1000ms">

                            <mat-tab >
                                <ng-template mat-tab-label>
                                    Découverte
                                </ng-template>
                            <app-decouverte></app-decouverte>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    Technicien
                                </ng-template>
                            <app-technicien></app-technicien>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    Fin d'études
                                </ng-template>
                                <app-fin-etudes></app-fin-etudes>
                            </mat-tab>


                        </mat-tab-group>